.banner-announcement{
    min-height: auto;
    color: #fff;
    text-align: center;
    background: rgb(255,0,21);
    background: linear-gradient(90deg, #ff0015 0%, #ff0074 50%);
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    display: flex;
    overflow: hidden;
}