.section{
    background-color: #002d81;
    background-image: url(../../public/images/img_bundle_Cream-Tablets_1img_bundle_Cream-Tablets.png), linear-gradient(rgba(0, 45, 129, .41), rgba(0, 45, 129, .41)), url(../../public/images/ha.png), url(../../public/images/toz-bg.png);
    background-position: 85% 60%, 0 0, 280px 0, 50% 12%;
    background-repeat: no-repeat, repeat, no-repeat, no-repeat;
    background-size: auto, auto, contain, auto;
    overflow: hidden;
}

.section-navigation_button{
    outline-offset: 0px;
    color: #20207e;
    text-align: center;
    letter-spacing: -.02em;
    background-color: #fff;
    border-radius: 48px;
    outline: 2px solid rgba(0, 0, 0, 0);
    padding: 8px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    transition: all .2s;
}

.section-content{
    max-width: 940px;
}

.section-content_block{
    width:500px;
}

.packs-page-btn{
    width: 300px;
    color: #fff;
    text-align: center;
    background-color: #ff0004;
    border-radius: 100px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 700;
    transition: all .2s;
}

.packs-page-btn:hover{
    background-color: #af0003;
    font-size: 25px;
}