/* section-one */
.section-one{
    background-color: #002d81;
    background-image: url(../../public/images/img_bundle_Cream-Tablets_1img_bundle_Cream-Tablets.png), linear-gradient(rgba(0, 45, 129, .41), rgba(0, 45, 129, .41)), url(../../public/images/ha.png), url(../../public/images/toz-bg.png);
    background-position: 85% 60%, 0 0, 50%, 50% 12%;
    background-repeat: no-repeat, repeat, no-repeat, no-repeat;
    background-size: auto, auto, contain, auto;
    overflow: hidden;
}

.section-navigation_button{
    outline-offset: 0px;
    color: #20207e;
    text-align: center;
    letter-spacing: -.02em;
    background-color: #fff;
    border-radius: 48px;
    outline: 2px solid rgba(0, 0, 0, 0);
    padding: 8px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    transition: all .2s;
}

.section-content_block{
    width:500px;
}

.packs-page-btn{
    width: 300px;
    color: #fff;
    text-align: center;
    background-color: #ff0004;
    border-radius: 100px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 700;
    transition: all .2s;
}

.packs-page-btn:hover{
    background-color: #af0003;
    font-size: 25px;
}

/* section-two */
.section-2 {
    background-color: #e0e0e0;
    background-image: linear-gradient(to right, rgba(224, 224, 224, .93), rgba(234, 234, 234, .59) 27%, rgba(255, 255, 255, 0)), url(../../public/images/photos-1.png);
    background-position: 0 0, 100%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    overflow: hidden;
  }

  .section-2_wrapper{
    max-width: 800px;
    width: 100%;
  }

  /* section-three */
  .section-3{
    background-color: #00102e;
    background-image: radial-gradient(circle, rgba(0, 16, 46, .9), rgba(0, 2, 93, .79)), url(../../public/images/bg.png);
    background-position: 0 0, 0 0;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }

  /* section-four */
  .section-4{
    background-image: radial-gradient(circle, rgba(5, 42, 36, .93), rgba(91, 176, 184, .59) 44%, #0c5f72); 
  }

  .section-4_header{
    font-size:43px;
    line-height: 51px;
  }

  .section-4--shadow{
    text-shadow: 0 4px 4px #000;
  }

  /* section-five */
  .radial-gradient{
    z-index: 1;
    position: absolute;
    height: 100%;
    width:100%;
    background: radial-gradient(circle, rgba(255, 255, 255, .97), rgba(163, 163, 163, .76))
  }
