@tailwind base;
@tailwind components;
@tailwind utilities;

html.sr .load-hidden {
    visibility: hidden;
   }

   .section{
    max-width: 940px;
    margin:0 auto;
}

.vertical-line{
    min-width:4px;
}

.section-navigation_button{
    outline-offset: 0px;
    color: #20207e;
    text-align: center;
    letter-spacing: -.02em;
    background-color: #fff;
    border-radius: 48px;
    outline: 2px solid rgba(0, 0, 0, 0);
    padding: 8px 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    transition: all .2s;
}

.pack-height{
    height: 420px;
    flex-direction: column;
    align-items: center;
    display: flex;
    }
